
DATABASE_URL=postgresql://valleleadssystem_q7c0_user:82erq8NRr3KNlUWdFUAqHQGrCbBnTOkT@dpg-d8gkmkl7vvec7392iqd0-a.virginia-postgres.render.com/valleleadssystem_q7c0?sslmode=require

ACCESS_TOKEN_SECRET=2f9c7c8b4f4d1a6e3b91c5d8a7f2e4c1b8d6f3a9c2e7d5b1f4a8c6e9d3b7f2a1

REFRESH_TOKEN_SECRET=7b1e4d9f2c6a8e3f5d1b7c9a2f4e6d8c1a3b5f7d9e2c4a6b8f1d3e5c7a9b2f4

ACCESS_TOKEN_EXPIRES_IN=15m

REFRESH_TOKEN_EXPIRES_IN=7d
